.item {

  &:first-child {
    margin-top: 0;
  }
}

.title {
  font-weight: 300;
}


@include mobile {

  .item {
    margin-top: vwx(12);
    font-size: vwx(18);
  }

  .value {
    margin-left: vwx(12);
  }
}

@include except-mobile {

  .item {
    margin-top: 12px;
    font-size: 18px;
  }

  .value {
    margin-left: 12px;
  }
}
