.project-card
  display: block
  margin: 20px 10px 0
  overflow: hidden
  text-decoration: none !important
  color #000 !important
  border-radius 3px
  box-shadow: #000 0 0 1px inset
  transition all 0.08s linear
  &:hover
    transform scale(1.008)

.project-card__photo
  background-color: #8c64ec
  background-size auto 90%
  background-position: center
  background-repeat: no-repeat
  padding-bottom: 55%

.project-card__content
  padding 15px

.project-card__title
  margin-bottom: 10px
  font-size: 24px

.project-card__desc
  font-size: 14px
