a.project-card(href="https://github.com/grammka/redbox" target="_blank")
  .project-card__photo(style="background-image: url(./images/projects/redbox.png)")
  .project-card__content
    .project-card__title Redbox
    .project-card__desc Simple actions creator without string constants
