.links
  font-size: 0

.link
  margin-left: 35px
  color: #000
  font-size: 16px
  display-inline-block()
  &:first-child
    margin-left: 0


+media-mobile()
  .link
    margin-left: 30px
    font-size: 20px
