.links
  a.link(href="https://github.com/pavelivanov", target="_blank") GitHub
  a.link(href="/files/CV_en.pdf", target="_blank") Resume
  a.link(href="mailto:grammka@gmail.com") Contact
  //a.link(href="/files/CV_ru.pdf", target="_blank") Resume [ru]
