.content
  .center
    .info-title Skills
    .info-content
      .tags-container
        .tags
          .tag.html HTML
          .tag.html JADE
      .tags-container
        .tags
          .tag.css CSS
          .tag.css SASS
          .tag.css LESS
          .tag.css Stylus
      .tags-container
        .tags
          .tag.js JavaScript
          .tag.js NodeJS
          .tag.js React
          .tag.js Redux
          .tag.js Angular 1.4
          .tag.js Webpack
          .tag.js Gulp
      .tags-container
        .tags
          .tag WebStorm
          .tag Photoshop
          .tag Sketch

    .info-title Experience
    .info-content.
      I have 6+ years experience in creating complex single-page applications as well as general website front-end.
      I know full web technology stack build process and how to make web apps faster.
      I have a solid experience in web design, which means that I can successfully handle projects that require professionals
      from two different fields - design and programming.

    include projects/index
