.project-cards
  margin -10px -10px 0
  font-size: 0

.project-card-container
  width: 50%
  display-inline-block()

.project-card
  display: block
  background-color: #fff
  border 1px solid #cedbe2
  margin: 20px 10px 0
  overflow: hidden
  text-decoration: none !important
  color #000 !important
  border-radius 3px
  //box-shadow: #000 0 0 1px inset
  transition all 0.08s linear
  &:hover
    transform scale(1.008)

.project-card__photo
  background-color: #e6f2f9
  background-size auto 90%
  background-position: center
  background-repeat: no-repeat
  border-bottom 1px solid #c2ccd2
  padding-bottom: 55%
  //box-shadow rgba(0, 0, 0, 0.13) 0 0 0 1px inset
  //border-radius top 3px

.project-card__content
  padding 15px

.project-card__title
  margin-bottom: 10px
  font-size: 24px

.project-card__desc
  font-size: 14px


@media (max-width: 500px)
  .project-card-container
    width: 100%
