.projects
  display: flex
  flex: 0 1 auto
  flex-direction: row
  flex-wrap: wrap
  margin -25px -15px 0

.project-container
  display: flex
  flex: 0 0 auto
  flex-basis: 25%
  max-width: 25%

.project
  width: 100%
  display: flex
  flex-direction: column
  background-color: #fff
  margin: 25px 15px 0
  text-decoration: none !important
  color #000 !important
  transition all 0.12s linear

.project__preview
  background-size auto 90%
  background-position: center
  background-repeat: no-repeat
  border 1px solid #000
  padding-bottom: 70%

.project__content
  display: flex
  flex-direction: column
  flex: 1 0 auto
  padding-top 10px

.project__title
  margin-bottom: 8px
  font-weight: 600
  font-size: 18px

.project__desc
  line-height: 16px
  font-size: 12px


+media-mobile()

  .project-container
    flex-basis: 100%
    max-width: 100%

  .project
    margin-top: 40px

  .project__title
    font-size: 24px

  .project__desc
    font-size: 16px
