@import "card"


.project-cards
  margin -10px -10px 0
  font-size: 0

.project-card-container
  width: 50%
  display-inline-block()


@media (max-width: 500px)
  .project-card-container
    width: 100%
