.item {

  &:first-child {
    margin-top: 0;
  }
}

.dates {
  font-weight: 300;
}

.subInfo {
  font-weight: 300;
}

.responsibilities {
  background: #fff;
}

.responsibility {
  position: relative;
  font-weight: 300;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    width: 3px;
    height: 3px;
    background-color: #000;
    border-radius: 50%;
  }

  &:first-child {
    margin-top: 0;
  }
}


@include media-mobile {

  .item {
    margin-top: vwx(40);
  }
  
  .dates {
    margin-bottom: vwx(5);
    font-size: vwx(14);
  }
  
  .company {
    font-size: vwx(20);
  }
  
  .subInfo {
    margin-left: vwx(12);
    font-size: vwx(20);
  }
  
  .responsibilities {
    margin-top: vwx(12);
  }
  
  .responsibility {
    padding-left: vwx(16);
    margin-top: vwx(16);
    line-height: vwx(26);
    font-size: vwx(18);
  
    &::before {
      top: vwx(11);
    }
  }
}

@include media-except-mobile {

  .item {
    margin-top: 40px;
  }
  
  .dates {
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .company {
    font-size: 20px;
  }
  
  .subInfo {
    margin-left: 12px;
    font-size: 20px;
  }
  
  .responsibilities {
    padding: 24px 32px;
    margin-top: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.09) 0 4px 20px;
  }
  
  .responsibility {
    padding-left: 16px;
    margin-top: 16px;
    line-height: 26px;
    font-size: 18px;
  
    &::before {
      top: 11px;
    }
  }
}
