.item {

  &:first-child {
    margin-top: 0;
  }
}

.dates {
  font-weight: 300;
}

.company {
  font-weight: 700;
}

.subInfo {
  font-weight: 300;
}

.responsibilities {
  background: #fff;
}

.responsibility {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    width: 3px;
    height: 3px;
    background-color: #000;
    border-radius: 50%;
  }

  &:first-child {
    margin-top: 0;
  }
}


@include mobile {

  .item {
    margin-top: vwx(40);
  }

  .dates {
    margin-bottom: vwx(5);
    font-size: vwx(14);
  }

  .company {
    font-size: vwx(20);
  }

  .subInfo {
    margin-left: vwx(12);
    font-size: vwx(20);
  }

  .responsibilities {
    margin-top: vwx(12);
  }

  .responsibility {
    padding-left: vwx(16);
    margin-top: vwx(16);
    line-height: vwx(26);
    font-size: vwx(18);

    &::before {
      top: vwx(11);
    }
  }
}

@include except-mobile {

  .item {
    margin-top: 40px;
  }

  .dates {
    margin-bottom: 5px;
    font-size: 14px;
  }

  .company {
    font-size: 20px;
  }

  .subInfo {
    margin-left: 12px;
    font-size: 20px;
  }

  .responsibilities {
    margin-top: 18px;
    padding-left: 12px;
  }

  .responsibility {
    padding-left: 16px;
    margin-top: 8px;
    line-height: 26px;
    font-size: 18px;

    &::before {
      top: 12px;
    }
  }
}
