.hero
  background-color: $bg-color
  padding-top: 50px

.slug
  width: 190px
  height: 150px
  line-height: 80px
  cursor: default
  font-size: 300px
  font-family: "Times New Roman"
  font-weight: 600
  text-align: center
  no-select()

.under-slug
  display: flex
  justify-content space-between
  align-items center
  margin-top: 30px
  .col
    display: block

.name
  font-size: 30px
  font-weight: 600

.about
  margin-top: 50px
  font-size: 19px


.stack
  margin-top: 50px

.tags-row
  margin-top: 15px
  &:first-child
    margin-top: 0

.tags
  border: 1px solid #000
  font-size: 0
  display-inline-block()

.tag
  min-width: 60px
  line-height: 32px
  border-left: 1px solid #000
  padding 0 15px
  cursor: default
  font-size: 14px
  text-align: center
  font-weight: 600
  no-select()
  display-inline-block()
  &:first-child
    border-left: 0


+media-mobile()

  .slug
    margin 0 auto

  .under-slug
    display: block
    text-align: center

  .name
    margin-bottom: 40px

  .about
    text-align: center

  .tags-row
    margin-top: 20px

  .tags
    margin-top: -8px
    margin-left: -8px
    border: 0

  .tag
    border: 1px solid #000 !important
    margin-top: 8px
    margin-left: 8px
