.hero
  .slug &pi;
  .under-slug
    .col
      .name Pavel Ivanov
    .col
      include ../links/index
  .about Front-end developer specializing in modular design systems & complex architecture. Travelling over the world.

  .stack
    .tags-row
      .tags
        .tag.html HTML
        .tag.html JADE
    .tags-row
      .tags
        .tag.css CSS
        .tag.css SASS
        .tag.css LESS
        .tag.css Stylus
    .tags-row
      .tags
        .tag.js JavaScript
        .tag.js NodeJS
        .tag.js React
        .tag.js Redux
        .tag.js Angular 1.4
        .tag.js Webpack
        .tag.js Gulp
    .tags-row
      .tags
        .tag WebStorm
        .tag Photoshop
        .tag Sketch
