.hero
	.logo 3.14
	.about.
		Howdy, I'm #[a(href="https://www.facebook.com/pavelivanovinfo", target="_blank") Pavel Ivanov], #[br]
		I’m a front-end developer. I create complex web applications. #[br]
		I solve problems visually, and create various things for the web. #[br]
		I also know how to design.
	.links
		.button-container
			a.button(href="/files/CV_en.pdf", target="_blank") Resume [en]
		.button-container
			a.button(href="/files/CV_ru.pdf", target="_blank") Resume [ru]
