.experience
  margin-top: 50px
  font-size: 16px

.work
  margin-top: 40px
  &:first-child
    margin-top: 0

.work__company
  font-weight: 600
  font-size: 18px
  .with-sub-info &
    position: relative

.work__sub-info
  position: absolute
  left: 0
  font-weight: normal
  white-space nowrap
  font-size: 14px
  color: #a5acb9

.work__mdash
  padding: 0 8px

.work__dates
  font-size: 14px

.work__responsibilities
  padding-left: 20px

.work__responsibility
  margin-top: 5px
  &:first-child
    margin-top: 0


+media-desktop()

  .work__header
    display: flex
    justify-content space-between
    align-items center
    .with-sub-info &
      padding-bottom: 20px

  .work__sub-info
    bottom: -20px

  .work__position
    min-width 0
    flex auto 1 1
    font-size: 18px

  .work__responsibilities
    margin-top: 15px

+media-mobile()

  .work__header
    padding-top: 20px
    position: relative

  .work__company
    font-size: 26px
    .with-sub-info &
      padding-bottom: 16px

  .work__sub-info
    bottom: 0

  .work__mdash
    display: none

  .work__position
    margin-top: 3px
    font-size: 16px

  .work__dates
    position: absolute
    top 0
    left 0

  .work__responsibilities
    margin-top: 20px

  .work__responsibility
    margin-top: 15px
