.title {

  &:first-child {
    margin-top: 0;
  }
}

.item {
  position: relative;
  cursor: default;
  background-color: #fff;
}

.title {
  font-weight: 700;
}

.experience {
  white-space: nowrap;
  color: #999;
}


@include mobile {

  .grid {
    display: grid;
    grid-gap: vwx(48);
  }

  .title {
    margin-top: vwx(40);
    margin-bottom: vwx(20);
    font-size: vwx(20);
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #eee;
    padding: vwx(16) 0;
    font-size: vwx(18);

    &:first-child {
      border-top: 0;
    }
  }

  .experience {
    font-size: vwx(12);
  }
}

@include except-mobile {

  .grid {
    display: grid;
    grid-gap: 48px 64px;
    grid-template-columns: repeat(2, 1fr);
  }

  .title {
    margin-bottom: 20px;
    font-size: 17px;
  }

  .items {

  }

  .item {
    padding: 10px 0;
    border-top: 1px solid #eee;
    font-size: 16px;

    &:first-child {
      border-top: 0;
    }

    &.withExperience {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  .experience {
    font-size: 12px;
  }
}
