sqrt(x)
  return math(x, 'sqrt')

display-inline-block()
  display: -moz-inline-stack
  display: inline-block
  vertical-align: top
  zoom: 1
  //*display: inline

no-select()
  user-select: none

input-placeholder()
  &.placeholder
  &:placeholder
  &:-moz-placeholder
  &::-moz-placeholder
  &:-ms-input-placeholder
  &::-webkit-input-placeholder
    {block}

hidden-input()
  size: 0
  padding 0
  margin 0
  opacity: 0
  position: fixed
  left: -9999px
  z-index: -1


media-desktop()
  @media (min-width: $media-desktop-start)
    {block}

media-tablet-landscape()
  @media (min-width: $media-tablet-landscape-start) and (max-width: $media-tablet-landscape-end)
    {block}

media-tablet()
  @media (min-width: $media-tablet-portrait-start) and (max-width: $media-tablet-landscape-end)
    {block}

media-tablet-portrait()
  @media (min-width: $media-tablet-portrait-start) and (max-width: $media-tablet-portrait-end)
    {block}

media-mobile()
  @media (max-width: $media-mobile-end)
    {block}

// * and higher

media-tablet-landscape-and-higher()
  @media (min-width: $media-tablet-landscape-start)
    {block}

media-except-mobile()
  @media (min-width: $media-tablet-portrait-start)
    {block}

// * and lower

media-except-desktop()
  @media (max-width: $media-tablet-landscape-end)
    {block}

media-tablet-portrait-and-lower()
  @media (max-width: $media-tablet-portrait-end)
    {block}
