.container {
  position: fixed;
  top: 0;
  left: calc(50% + 400px + 40px);
}

.menu {
  padding-top: 20px;
  opacity: 0;
  transition: all 0.5s ease;

  &:global(.fixed) {
    opacity: 1;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-top: 10px;
  border-radius: 50%;

  img {
    display: block;
    width: 100%;
  }

  &:first-child {
    margin-top: 0;
  }
}
