.item {

  &:first-child {
    margin-top: 0;
  }
}

.title {
  font-weight: 300;
}


@include media-mobile {

  .item {
    margin-top: vwx(32);
    font-size: vwx(18);
  }

  .value {
    margin-left: vwx(12);
  }
}

@include media-except-mobile {

  .item {
    margin-top: 32px;
    font-size: 18px;
  }

  .value {
    margin-left: 12px;
  }
}
