html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


@include mobile {

  .page {
    padding: 0 vwx(30) vwx(50);
  }
}

@include except-mobile {

  .page {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 30px 100px;
  }
}

@media print {

  @page {
    size: 330mm 427mm;
    margin: 14mm;
  }

  .page {
    width: 800px;
    margin: 0 auto;
  }

  .hero {
    height: 100vh;
  }
}
