.section {

  &:first-child {
    margin-top: 0;
  }
}

.title {
  font-weight: 700;
  letter-spacing: 1px;
}


@include mobile {

  .section {
    margin-top: vwx(56);
  }

  .title {
    margin-bottom: vwx(32);
    font-size: vwx(24);
  }
}

@include except-mobile {

  .section {
    margin-top: 56px;
  }

  .title {
    margin-bottom: 36px;
    font-size: 24px;
  }
}
