@import "_default"
@import "_modules"
@import "_fonts"

@import "../partials/hero"
@import "../partials/projects"
@import "../partials/footer"
@import "../partials/links"


.center
  max-width: 1024px
  margin 0 auto


+media-mobile()
  .center
    padding: 0 15px
