$mobile-end                         : 568px;
$tablet-portrait-start              : $mobile-end + 1px;
$tablet-portrait-end                : 768px;
$tablet-landscape-start             : $tablet-portrait-end + 1px;
$tablet-landscape-end               : 1024px;
$desktop-start                      : $tablet-landscape-end + 1px;

$desktop-rule                       : '(min-width: ' + $desktop-start + ')';
$tablet-landscape-rule              : '(min-width: ' + $tablet-landscape-start + ') and (max-width: ' + $tablet-landscape-end + ')';
$tablet-rule                        : '(min-width: ' + $tablet-portrait-start + ') and (max-width: ' + $tablet-landscape-end ')';
$tablet-portrait-rule               : '(min-width: ' + $tablet-portrait-start + ') and (max-width: ' + $tablet-portrait-end + ')';
$mobile-rule                        : '(max-width: ' + $mobile-end + ')';
$tablet-landscape-and-higher-rule   : '(min-width: ' + $tablet-landscape-start + ')';
$tablet-landscape-and-lower-rule    : '(max-width: ' + $tablet-landscape-end + ')';
$except-mobile-rule                 : '(min-width: ' + $tablet-portrait-start + ')';
$except-desktop-rule                : '(max-width: ' + $tablet-landscape-end +  ')';
$tablet-portrait-and-higher-rule    : '(min-width: ' + $tablet-portrait-start +  ')';
$tablet-portrait-and-lower-rule     : '(max-width: ' + $tablet-portrait-end +  ')';


@mixin desktop {
  @media #{$desktop-rule} {
    @content;
  }
}

@mixin tablet-landscape {
  @media #{$tablet-landscape-rule} {
    @content;
  }
}

@mixin tablet {
  @media #{$tablet-rule} {
    @content;
  }
}

@mixin tablet-portrait {
  @media #{$tablet-portrait-rule} {
    @content;
  }
}

@mixin mobile {
  @media screen and #{$mobile-rule} {
    @content;
  }
}

// * and higher

@mixin tablet-landscape-and-higher {
  @media #{$tablet-landscape-and-higher-rule} {
    @content;
  }
}

@mixin tablet-portrait-and-higher {
  @media #{$tablet-portrait-and-higher-rule} {
    @content;
  }
}

@mixin except-mobile {
  @media #{$except-mobile-rule} {
    @content;
  }
}


// * and lower

@mixin except-desktop {
  @media #{$except-desktop-rule} {
    @content;
  }
}

@mixin tablet-portrait-and-lower {
  @media #{$tablet-portrait-and-lower-rule} {
    @content;
  }
}

@mixin tablet-landscape-and-lower {
  @media #{$tablet-landscape-and-lower-rule} {
    @content;
  }
}


// retina

@mixin retina {
  $retina-variable: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)';
  @media #{$retina-variable} { @content; }
}

@mixin retina-3x {
  $retina-variable: 'only screen and (-webkit-min-device-pixel-ratio: 2.5), only screen and (min-resolution: 288dpi)';
  @media #{$retina-variable} { @content; }
}
