.content {
  
}

.contentItem {
  margin-top: 40px;
  
  &:first-child {
    margin-top: 0;
  }
}

.title {
  margin-bottom: 20px;
  font-size: 20px;
}

.items {
  margin: -10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.item {
  position: relative;
  cursor: default;
  margin: 10px;
  padding: 10px 16px;
  font-weight: 300;
  font-size: 18px;
  background: #fff;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.09) 0 4px 20px;

  &.withExperience {
    padding-right: 52px;
  }
}

.experience {
  position: absolute;
  top: 16px;
  right: 14px;
  font-size: 12px;
  color: #999 !important;

  &.level-5 {
    color: green;
  }

  &.level-4 {
    color: #d88c00;
  }

  &.level-3 {
    color: #cc5500;
  }
}
